In [45]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()
import json
import numpy as np

In [17]:
csv_tickets_1 = "Resources/parking_tickets_2015/Parking_Tags_Data_2015_1.csv"
ticket_df_1 = pd.read_csv(csv_tickets_1)
#ticket_df_1["date_of_infraction"] = ticket_df_1["date_of_infraction"].astype(int)
ticket_df_1.head()

,tag_number_masked,date_of_infraction,infraction_code,infraction_description,set_fine_amount,time_of_infraction,location1,location2,location3,location4,province
0,***87325,20150101,15,PARK-WITHIN 3M OF FIRE HYDRANT,100,1.0,OPP,11 CENTRE AVE,NaN,NaN,ON
1,***87326,20150101,15,PARK-WITHIN 3M OF FIRE HYDRANT,100,1.0,OPP,11 CENTRE AVE,NaN,NaN,ON
2,***09493,20150101,3,PARK ON PRIVATE PROPERTY,30,2.0,NR,2425 JANE ST,NaN,NaN,ON
3,***67358,20150101,5,PARK-SIGNED HWY-PROHIBIT DY/TM,40,3.0,N/S,DUNDAS SQ,E/O,YONGE ST,ON
4,***87327,20150101,5,PARK-SIGNED HWY-PROHIBIT DY/TM,40,3.0,N/S,ARMOURY ST,W/O,CENTRE AVE,ON

In [18]:
csv_tickets_2 = "Resources/parking_tickets_2015/Parking_Tags_Data_2015_2.csv"
ticket_df_2 = pd.read_csv(csv_tickets_2)
ticket_df_2.head()

,tag_number_masked,date_of_infraction,infraction_code,infraction_description,set_fine_amount,time_of_infraction,location1,location2,location3,location4,province
0,***26271,20150510,29,PARK PROHIBITED TIME NO PERMIT,30,219.0,NR,21 CLAXTON BLVD,NaN,NaN,ON
1,***47587,20150510,29,PARK PROHIBITED TIME NO PERMIT,30,219.0,NR,209 FAIRVIEW AVE,NaN,NaN,ON
2,***95886,20150510,3,PARK ON PRIVATE PROPERTY,30,220.0,AT,24 MABELLE AVE,NaN,NaN,ON
3,***60513,20150510,2,PARK - LONGER THAN 3 HOURS,15,220.0,NR,18 LINDEN AVE,NaN,NaN,ON
4,***00993,20150510,8,STAND VEH.-PROHIBIT TIME/DAY,60,220.0,NR,364 ADELAIDE ST W,NaN,NaN,ON

In [19]:
csv_tickets_3 = "Resources/parking_tickets_2015/Parking_Tags_Data_2015_3.csv"
ticket_df_3 = pd.read_csv(csv_tickets_3)
ticket_df_3.head()

,tag_number_masked,date_of_infraction,infraction_code,infraction_description,set_fine_amount,time_of_infraction,location1,location2,location3,location4,province
0,***98714,20150911,210,PARK FAIL TO DISPLAY RECEIPT,30,1707.0,NR,151 DAN LECKIE WAY,NaN,NaN,ON
1,***03276,20150911,403,STOP-SIGNED HIGHWAY-RUSH HOUR,150,1707.0,NR,2143 DANFORTH AVE,NaN,NaN,ON
2,***06931,20150911,2,PARK - LONGER THAN 3 HOURS,15,1707.0,NR,90 BURNSIDE DR,NaN,NaN,ON
3,***78878,20150911,29,PARK PROHIBITED TIME NO PERMIT,30,1707.0,NR,41 DALTON RD,NaN,NaN,ON
4,***01730,20150911,210,PARK FAIL TO DISPLAY RECEIPT,30,1707.0,NR,10 ELLERBECK ST,NaN,NaN,ON

In [20]:
tickets_2015_df=pd.concat([ticket_df_1,ticket_df_2,ticket_df_3])
locations = list(tickets_2015_df["location2"])
locations

['11 CENTRE AVE',
 '11 CENTRE AVE',
 '2425 JANE ST',
 'DUNDAS SQ',
 'ARMOURY ST',
 '46 SPADINA AVE',
 '39 LAKEVIEW AVE',
 'ARMOURY ST',
 'ARMOURY ST',
 'FENWICK AVE',
 '46 SPADINA AVE',
 '21 CAMBRIDGE AVE',
 'ARMOURY ST',
 'ARMOURY ST',
 'FENWICK AVE',
 '40 HIGH PARK AVE',
 'ARMOURY ST',
 'FENWICK AVE',
 'FENWICK AVE',
 '46 SPADINA AVE',
 '30 KINGSWOOD RD',
 '27 CAMBRIDGE AVE',
 '145 STRATHMORE BLVD',
 'ARMOURY ST',
 'FENWICK AVE',
 'KINGSWOOD RD',
 'KINGSWOOD RD',
 '49 CAMBRIDGE AVE',
 '2 CAITHNESS AVE',
 '19 MACEY AVE',
 '10 YUKON PLACE',
 '40 HIGH PARK AVE',
 'ARMOURY ST',
 'FENWICK AVE',
 '60 KINGSWOOD RD',
 '6 CAITHNESS AVE',
 '40 HIGH PARK AVE',
 'ARMOURY ST',
 'ARMOURY ST',
 '380 WELLINGTON ST W',
 '60 KINGSWOOD RD',
 '49 CAMBRIDGE AVE',
 '87 STRATHMORE BLVD',
 'ALBION AVE',
 '14 LONDON GREEN CT',
 'FENWICK AVE',
 'FENWICK AVE',
 '62 KINGSWOOD RD',
 '85 STRATHMORE BLVD',
 '178 DUPONT ST',
 '70 HIGH PARK AVE',
 '111 CHESTNUT ST',
 '5351 YONGE ST',
 '80 LYNN WILLIAMS ST',
 '63 CAMBRIDGE AVE',
 '85 STRATHMORE BLVD',
 '14 LONDON GREE CT',
 'FENWICK AVE',
 'FENWICK AVE',
 '80 LYNN WILLIAMS ST',
 'FENWICK AVE',
 '98 KINGSWOOD RD',
 '122 PATTERSON AVE',
 '104 KINGSWOOD RD',
 '149 CAMBRIDGE AVE',
 '130 LAMB AVE',
 '132 LAMB AVE',
 '31 EATON AVE',
 '14 LONDON GREEN CT',
 '3 DUPLEX AVE',
 'CARLAW AVE',
 '983 KINGSTON RD',
 '143 CAMBRIDGE AVE',
 '147 LAMB AVE',
 '120 HIGH PARK AVE',
 '8 DUPLEX AVE',
 'CARLAW AVE',
 '100 WESTERN BATTERY RD',
 '100 WESTERN BATTERY RD',
 '171 PACIFIC AVE',
 '149 LAMB AVE',
 '100 WESTERN BATTERY RD',
 '20 WOODYCREST AVE',
 '100 WESTERN BATTERY RD',
 '7 WOODYCREST AVE',
 '45 CATARAQUI CRES',
 '150 HIGH PARK AVE',
 '70 CENTRE AVE',
 '1 DUPLEX AVE',
 '125 WESTERN BATTERY RD',
 '303 KENILWORTH AVE',
 '24 PRETORIA AVE',
 '157 HIGH PARK AVE',
 '125 WESTERN BATTERY RD',
 '309 KENILWORTH AVE',
 '17 PRINCE ARTHUR AVE',
 '59 CATARAQUI CRES',
 '61 CAVELL AVE',
 '125 WESTERN BATTERY RD',
 '281 KENILWORTH AVE',
 '15 PLAYTER CRES',
 '21 PRINCE ARTHUR AVE',
 '214 GILLARD AVE',
 '125 WESTERN BATTERY RD',
 '15 PLAYTER CRES',
 '33 PRINCE ARTHUR AVE',
 '40 FIRVALLEY CRT',
 '175 GILLARD AVE',
 '153 HIGH PARK AVE',
 '98 CAVELL AVE',
 '125 WESTERN BATTERY RD',
 '125 WESTERN BATTERY RD',
 '201 KENILWORTH AVE',
 '33 PRINCE ARTHUR AVE',
 '182 KENILWORTH AVE',
 '71 GOUGH AVE',
 '11 PRINCE ARTHUR AVE',
 '164 HIGH PARK AVE',
 'MILL ST',
 '179 KENILWORTH AVE',
 '36 ELLERBECK ST',
 '11 PRINCE ARTHUR AVE',
 '164 HIGH PARK AVE',
 'MILL ST',
 '33 STRATHCONA AVE',
 '51 TICHESTER RD',
 '145 KENILWORTH AVE',
 '147 KENILWORTH AVE',
 '71 GOUGH AVE',
 'MILL ST',
 '50 ELLERBECK ST',
 '31 TICHESTER RD',
 '16 YONGE ST',
 '57 GOULDEN CRES',
 '200 PARKMOUNT RD',
 '125 KENILWORTH AVE',
 '58 ELLERBECK ST',
 '81 GOUGH AVE',
 '16 YONGE ST',
 '16 YONGE ST',
 'MILL ST',
 '265 MANITOBA DRIVE',
 '10 YUKON PLACE',
 '182 HIGH PARK AVE',
 'WESTERN BATTERY RD',
 '140 KENILWORTH AVE',
 '58 ELLERBECK ST',
 '85 GOUGH AVE',
 'MILL ST',
 '99 WILKES CRES',
 '191 HIGH PARK AVE',
 '81 WROXETER AVE',
 'WESTERN BATTERY RD',
 '126 KENILWORTH AVE',
 '26 TICHESTER RD',
 '97 GOUGH AVE',
 'MILL ST',
 '99 WILKES CRES',
 '62 ELLERBECK ST',
 'MILL ST',
 '88 GRANGEWAY AVE',
 '28 WROXETER AVE',
 '122 KENILWORTH AVE',
 '18 TICHESTER RD',
 '113 GOUGH AVE',
 '12 WILKES CRES',
 '244 HIGH PARK AVE',
 'OXLEY ST',
 '27 WROXETER AVE',
 'WESTERN BATTERY RD',
 '120 KENILWORTH AVE',
 '113 GOUGH AVE',
 '16 YONGE ST',
 '241 HIGH PARK AVE',
 '605 FINCH AVE W',
 '112 KENILWORTH AVE',
 '121 GOUGH AVE',
 '16 WROXETER AVE',
 'WESTERN BATTERY RD',
 '1953 QUEEN ST E',
 '1360 DUNDAS ST W',
 '170 PRINCES BLVD',
 '248 HIGH PARK AVE',
 'WESTERN BATTERY RD',
 '104 KIPPENDAVIE AVE',
 'CHARLOTTE ST',
 '4 FRIZZELL AVE',
 '248 HIGH PARK AVE',
 'WESTERN BATTERY RD',
 '80 KIPPENDAVIE AVE',
 '907 LOGAN AVE',
 '909 LOGAN AVE',
 'CHARLOTTE ST',
 '248 HIGH PARK AVE',
 'WESTERN BATTERY RD',
 '66 KIPPENDAVIE AVE',
 'CHARLOTTE ST',
 'CHARLOTTE ST',
 '23 FRIZZELL AVE',
 'WESTERN BATTERY RD',
 '80 MILL ST',
 'CHARLOTTE ST',
 '66 KIPPENDAVIE AVE',
 '80 MILL ST',
 '1 HANSON ST',
 '33 FRIZZELL AVE',
 'WESTERN BATTERY RD',
 '80 MILL ST',
 '75 EMMETT AVE',
 '136 FELSTEAD AVE',
 '281 HIGH PARK AVE',
 '30 WESTERN BATTERY RD',
 '17 BULLER AVE',
 '17 BULLER AVE',
 '37 ARUNDEL AVE',
 '80 MILL ST',
 '308 HIGH PARK AVE',
 '17 BULLER AVE',
 '80 MILL ST',
 '80 MILL ST',
 '102 MONARCH PARK AVE',
 '20 DUNCAN ST',
 '86 FRIZZELL AVE',
 '30 WESTERN BATTERY RD',
 '43 KIPPENDAVIE AVE',
 '31 ARUNDEL AVE',
 '70 MILL ST',
 '115 PRINCES BLVD',
 '106 MONARCH PARK AVE',
 'GALLOWAY RD',
 '86 FRIZZELL AVE',
 '28 WESTERN BATTERY RD',
 '2 ARUNDEL AVE',
 '81 NAVY WHARF CRT',
 '70 MILL ST',
 '62 GLENDALE AVE',
 '86 FRIZZELL AVE',
 '287 HIGH PARK AVE',
 '22 WESTERN BATTERY RD',
 '32 KIPPENDAVIE AVE',
 '2 ARUNDEL AVE',
 '70 MILL ST',
 '83 MONARCH PARK AVE',
 '6 KEWBEACH AVE',
 '2 ARUNDEL AVE',
 '70 MILL ST',
 '52 HOWE AVE',
 '10 YUKON PLACE',
 '55 MONARCH PARK AVE',
 '393 KING ST W',
 '71 FRIZZELL AVE',
 '22 WESTERN BATTERY RD',
 '6 KEWBEACH AVE',
 'ROSELAWN AVE',
 '80 MILL ST',
 '67 FRIZZELL AVE',
 '80 MILL ST',
 '10 YUKON PLACE',
 '381 KING ST W',
 '372 JANE ST',
 'ROSELAWN AVE',
 'ROSELAWN AVE',
 '218 PARKMOUNT RD',
 '76 DINGWALL AVE',
 '55 KENILWORTH AVE',
 '55 KENILWORTH AVE',
 '22 WESTERN BATTERY RD',
 '707 RHODES AVE',
 '22 WESTERN BATTERY RD',
 '80 KENILWORTH AVE',
 'HELENDALE AVE',
 '10 YUKON PLACE',
 '701 RHODES AVE',
 '2 DINGWALL AVE',
 '2 DINGWALL AVE',
 '84 KENILWORTH AVE',
 'HELENDALE AVE',
 '627 RHODES AVE',
 '295 KING ST W',
 '300 MANITOBA ST',
 '300 MANITOBA ST',
 '22 WESTERN BATTERY RD',
 '22 WESTERN BATTERY RD',
 '84 KENILWORTH AVE',
 '10 CLOVELLY AVE',
 '295 KING ST W',
 '2 DINGWALL AVE',
 '300 MANITOBA ST',
 '300 MANITOBA ST',
 '22 WESTERN BATTERY RD',
 'KENILWORTH AVE',
 "71 D'ARCY ST",
 'HELENDALE AVE',
 'HELENDALE AVE',
 '10 YUKON PLACE',
 '35 HOLLYWOOD AVE',
 '22 WESTERN BATTERY RD',
 'KENILWORTH AVE',
 'KENILWORTH AVE',
 "95 D'ARCY ST",
 'HELENDALE AVE',
 '25 HILLINGDON AVE',
 '22 WESTERN BATTERY RD',
 '23 HILLINGDON AVE',
 '21 HILLINGDON AVE',
 '23 HOLLYWOOD AVE',
 '109 WAVERLEY RD',
 '42 BALTIC AVE',
 '82 BALDWIN ST',
 '2401 YONGE ST',
 '10 YUKON PLACE',
 '19 HILLINGDON AVE',
 'WITHROW AVE',
 '2401 YONGE ST',
 '2401 YONGE ST',
 '355 THE EAST MALL',
 '355 THE EAST MALL',
 '355 THE EAST MALL',
 'WITHROW AVE',
 'WITHROW AVE',
 '355 THE EAST MALL',
 '355 THE EAST MALL',
 '33 EMPRESS AVE',
 'KEWBEACH AVE',
 '355 THE EAST MALL',
 '355 THE EAST MALL',
 '355 THE EAST MALL',
 '355 THE EAST MALL',
 'WITHROW AVE',
 'KEWBEACH AVE',
 'KEWBEACH AVE',
 '355 THE EAST MALL',
 '355 THE EAST MALL',
 '10 YUKON PLACE',
 '17 WOODROW AVE',
 '26 SOHO ST',
 'WITHROW AVE',
 '2821 LAKE SHORE BLVD W',
 '355 THE EAST MALL',
 '355 THE EAST MALL',
 '99 HOWARD ST',
 '355 THE EAST MALL',
 '355 THE EAST MALL',
 '26 SOHO ST',
 '40 PHOEBE ST',
 'WITHROW AVE',
 '2817 LAKE SHORE BLVD W',
 '99 HOWARD ST',
 '26 SOHO ST',
 'WITHROW AVE',
 '111 WAVERLEY RD',
 '130 HURON ST',
 '135 ERSKINE AVE',
 '99 HOWARD ST',
 '133 DRAYTON AVE',
 '99 HOWARD ST',
 '345 DRIFTWOOD AVE',
 '2814 LAKE SHORE BLVD W',
 '1506 QUEEN ST W',
 '1506 QUEEN ST W',
 '274 WAVERLEY RD',
 '77 HOWARD ST',
 '115 DRAYTON AVE',
 '190 JOHN ST',
 '209 WITHROW AVE',
 'BELVEDERE BLVD',
 '274 WAVERLEY RD',
 '286 MILVERTON BLVD',
 '8 RUSHOLME DR',
 '345 DRIFTWOOD AVE',
 '59 DRAYTON AVE',
 '176 JOHN ST',
 '312 WAVERLEY RD',
 '300 WAVERLEY RD',
 '10 YUKON PLACE',
 '10 YUKON PLACE',
 '57 DRAYTON AVE',
 '180 JOHN ST',
 '209 WITHROW AVE',
 'ERSKINE AVE',
 '345 DRIFTWOOD AVE',
 '356 MILVERTON BLVD',
 '345 DRIFTWOOD AVE',
 '173 WITHROW AVE',
 '345 DRIFTWOOD AVE',
 '104 BASTEDO AVE',
 '35 GREENBRAE CRCT',
 '1 ROBERT ST',
 '298 WAVERLEY RD',
 '99 CLAREMORE AVE',
 '335 DRIFTWOOD AVE',
 '118 BASTEDO AVE',
 '159 WITHROW AVE',
 '1 ROBERT ST',
 '320 WAVERLEY RD',
 '33 GABIAN WAY',
 '159 WITHROW AVE',
 '322 WAVERLEY RD',
 '562 GLEBEHOLME BLVD',
 '156 BASTEDO AVE',
 '332 WAVERLEY RD',
 '13 IRWIN AVE',
 '135 WITHROW AVE',
 '31 LIPPINCOTT ST',
 '211 WAVERLEY RD',
 '374 WOLVERLEIGH BLVD',
 '21 IRWIN AVE',
 '31 LIPPINCOTT ST',
 '177 WAVERLEY RD',
 '989 EGLINTON AVE W',
 '133 ERSKINE AVE',
 '33 GABIAN WAY',
 '109 MOBERLY AVE',
 '75 WITHROW AVE',
 '153 WAVERLEY RD',
 '44 IRWIN AVE',
 '77 HOWARD ST',
 '10 YUKON PLACE',
 '109 MOBERLY AVE',
 'SHAW ST',
 '10 YUKON PLACE',
 '91 MOBERLY AVE',
 '977 EGLINTON AVE W',
 '1026 EGLINTON AVE W',
 '139 WOLVERLEIGH BLVD',
 '85 MOBERLY AVE',
 'WAVERLEY RD',
 '3 BROADWAY AVE',
 '83 MOBERLY AVE',
 '22 BAIN AVE',
 'WAVERLEY RD',
 '17 WOLVERLEIGH BLVD',
 '33 GABIAN WAY',
 '43  MOBERLY AVE',
 '25 TOWN CENTRE CRT',
 'WAVERLEY RD',
 '115 MERRILL AVE E',
 'BAIN AVE',
 '18 GRENVILLE ST',
 '18 GRENVILLE ST',
 '78 ROSELAWN AVE',
 '1294 DUNDAS ST W',
 '78 BELLEFAIR AVE',
 '82 BELLEFAIR AVE',
 '33 GABIAN WAY',
 '122 MERRILL AVE E',
 'BAIN AVE',
 '20 SHALLMAR BLVD',
 '179 SPRINGDALE BLVD',
 '117 ROSELAWN AVE',
 '20 SHALLMAR BLVD',
 '450 ADELAIDE ST W',
 '136 BELLEFAIR AVE',
 '117 ROSELAWN AVE',
 'BAIN AVE',
 '136 BELLEFAIR AVE',
 '33 GABIAN WAY',
 '390 QUEENS QUAY W',
 '390 QUEENS QUAY W',
 '390 QUEENS QUAY W',
 '134 BELLEFAIR AVE',
 '11 SHALLMAR BLVD',
 '162 ROSELAWN AVE',
 '390 QUEENS QUAY W',
 '390 QUEENS QUAY W',
 '60 BRANT ST',
 '164 BELLEFAIR AVE',
 '390 QUEENS QUAY W',
 '390 QUEENS QUAY W',
 'BAIN AVE',
 '60 BRANT ST',
 '60 BRANT ST',
 '390 QUEENS QUAY W',
 '390 QUEENS QUAY W',
 '60 BRANT ST',
 '33 GABIAN WAY',
 '390 QUEENS QUAY W',
 '390 QUEENS QUAY W',
 '190 BELLEFAIR AVE',
 '21 MC CAUL ST',
 '390 QUEENS QUAY W',
 '390 QUEENS QUAY W',
 '390 QUEENS QUAY W',
 '390 QUEENS QUAY W',
 '2 JUNIPER AVE',
 '390 QUEENS QUAY W',
 '214 BAIN AVE',
 '177 WHEELER AVE',
 '159 WHEELER AVE',
 'VULCAN ST',
 'VULCAN ST',
 '121 PORTLAND ST',
 'VULCAN ST',
 'VULCAN ST',
 '82 WHEELER AVE',
 '137 CITY VIEW DR',
 '140 ADANAC DR',
 '179 WHEELER AVE',
 '640 ROSELAWN AVE',
 '137 CITY VIEW DR',
 '137 CITY VIEW DR',
 '137 CITY VIEW DR',
 '77 HOWARD ST',
 '137 CITY VIEW DR',
 '24 MABELLE AVE',
 '24 MABELLE AVE',
 '329 FAIRLAWN AVE',
 '1 PORTLAND ST',
 'WHEELER AVE',
 '137 CITY VIEW DR',
 '137 CITY VIEW DR',
 '1 PORTLAND ST',
 '5 WHEELER AVE',
 'ROSELAWN AVE',
 '137 CITY VIEW DR',
 '77 HOWARD ST',
 '137 CITY VIEW DR',
 '217 FAIRLAWN AVE',
 '1 PORTLAND ST',
 '1 PORTLAND ST',
 '137 CITY VIEW DR',
 '137 CITY VIEW DR',
 '1 PORTLAND ST',
 '35 HOWARD ST',
 '1 PORTLAND ST',
 '137 CITY VIEW DR',
 '137 CITY VIEW DR',
 '9 HAMMERSMITH AVE',
 '137 CITY VIEW DR',
 '137 CITY VIEW DR',
 '223 LANGLEY AVE',
 '3 HAMMERSMITH AVE',
 '137 CITY VIEW DR',
 'SELBY ST',
 '137 CITY VIEW DR',
 '223 LANGLEY AVE',
 '5 RESURRECTION RD',
 'SELBY ST',
 '137 CITY VIEW DR',
 '137 CITY VIEW DR',
 'SELBY ST',
 '137 CITY VIEW DR',
 '420 WELLINGTON ST W',
 '137 CITY VIEW DR',
 'SELBY ST',
 '137 CITY VIEW DR',
 'GLEN RUSH BLVD',
 '113 LANGLEY AVE',
 '75 LEE AVE',
 '15 SCARBOROUGH GOLF CLUB RD',
 '10 TORRESDALE AVE',
 '113 LANGLEY AVE',
 '98 HANSON ST',
 '15 SCARBOROUGH GOLF CLUB RD',
 '10 TORRESDALE AVE',
 '65 HUNTLEY ST',
 '108 HANSON ST',
 '10 TORRESDALE AVE',
 '10 TORRESDALE AVE',
 '100 NEVILLE PARK BLVD',
 '35 BROOKWELL DR',
 'COLDSTREAM AVE',
 '1 REAN DR',
 '10 TORRESDALE AVE',
 '20 BEECROFT RD',
 '100 NEVILLE PARK BLVD',
 '35 BROOKWELL DR',
 '35 BROOKWELL DR',
 'COLDSTREAM AVE',
 'COLDSTREAM AVE',
 '1 ECCLESTON DR',
 '1 ECCLESTON DR',
 '1 REAN DR',
 '10 TORRESDALE AVE',
 '10 TORRESDALE AVE',
 '104 NEVILLE PARK BLVD',
 '35 BROOKWELL DR',
 'COLDSTREAM AVE',
 '135 ISABELLA ST',
 '127 ISABELLA ST',
 '16 TORRESDALE AVE',
 '346 FAIRLAWN AVE',
 '348 FAIRLAWN AVE',
 '337 FAIRLAWN AVE',
 '21 WAKUNDA PL',
 '11 ECCLESTON DR',
 '18 KENASTON GDNS',
 '18 KENASTON GDNS',
 '10 TORRESDALE AVE',
 '10 TORRESDALE AVE',
 '5 WAKUNDA PL',
 '35 BROOKWELL DR',
 '39 BROOKWELL DR',
 'CHICOUTIMI AVE',
 'VICTOR AVE',
 '45 DEVON RD',
 '150 BEECROFT RD',
 '379 PACIFIC AVE',
 '152 NEVILLE PARK BLVD',
 '5 WAKUNDA PL',
 '41 BROOKWELL DR',
 '1 LARKSONG CRT',
 'VICTOR AVE',
 '43 DEVON RD',
 '10 TORRESDALE AVE',
 '312 DOUGLAS AVE',
 '51 BROOKWELL DR',
 '11 ECCLESTON DR',
 '23 DEVON RD',
 '10 TORRESDALE AVE',
 '150 BEECROFT RD',
 '316 DOUGLAS AVE',
 '51 BROOKWELL DR',
 '147 NEVILLE PARK BLVD',
 '30 ELKHORN DR',
 '10 TORRESDALE AVE',
 '65 CRANBORNE AVE',
 '9 WESTOWANIS DR',
 '17 ECCLESTON DR',
 '30 ELKHORN DR',
 '22 ELKHORN DR',
 '15 LEGION RD',
 '65 CRANBORNE AVE',
 '172 CARIBOU RD',
 '159 GLENMORE RD',
 '131 TORRESDALE AVE',
 '150 BEECROFT RD',
 '150 BEECROFT RD',
 '15 LEGION RD',
 '15 LEGION RD',
 '520 DOUGLAS AVE',
 'CARIBOU RD',
 '17 ECCLESTON DR',
 '2465 QUEEN ST E',
 '14 WHITTAKER CRES',
 '131 TORRESDALE AVE',
 '256 ADELAIDE ST E',
 '150 BEECROFT RD',
 '15 LEGION RD',
 '16 PINEBROOK AVE',
 'CARIBOU RD',
 'CARIBOU RD',
 '155 GLENMORE RD',
 '131 TORRESDALE AVE',
 '15 LEGION RD',
 '15 LEGION RD',
 '15 STREAMDALE CRT',
 '25 ECCLESTON DR',
 '123 GLENMORE RD',
 '5 WHITTAKER CRES',
 '131 TORRESDALE AVE',
 '15 LEGION RD',
 '15 LEGION RD',
 '4675 STEELES AVE E',
 '112 TISDALE AVE',
 '15 STREAMDALE CRT',
 '25 CARLTON ST',
 '3 SWIFT DR',
 '995 BLOOR ST W',
 '44 MUNRO PARK AVE',
 '85 HARLANDALE AVE',
 '15 LEGION RD',
 '15 LEGION RD',
 '4675 STEELES AVE E',
 '120 TISDALE AVE',
 '25 CARLTON ST',
 '3 SWIFT DR',
 'MUNRO PARK AVE',
 '4675 STEELES AVE E',
 '4675 STEELES AVE E',
 '122 TISDALE AVE',
 '122 TISDALE AVE',
 'GLEN RUSH BLVD',
 '2306 QUEEN ST E',
 '85 HARLANDALE AVE',
 '25 BROADOAKS DR',
 '15 LEGION RD',
 '475 DOUGLAS AVE',
 '4675 STEELES AVE E',
 '4675 STEELES AVE E',
 '4675 STEELES AVE E',
 '126 TISDALE AVE',
 '25 CARLTON ST',
 '250 KING ST E',
 '131 TORRESDALE AVE',
 '250 FRONT ST E',
 '85 HARLANDALE AVE',
 '85 HARLANDALE AVE',
 '25 BROADOAKS DR',
 '4675 STEELES AVE E',
 '4675 STEELES AVE E',
 '261 EASTWOOD RD',
 '250 KING ST E',
 '131 TORRESDALE AVE',
 '250 FRONT ST E',
 '25 BROADOAKS DR',
 '333 GLENGARRY AVE',
 '4675 STEELES AVE E',
 '4675 STEELES AVE E',
 '4675 STEELES AVE E',
 '11 RUDDINGTON DR',
 '131 TORRESDALE AVE',
 '131 TORRESDALE AVE',
 '250 FRONT ST E',
 '340 GLENGARRY AVE',
 '4675 STEELES AVE E',
 '292 GRANDRAVINE DR',
 '78 WILLOW AVE',
 '11 RUDDINGTON DR',
 '11 RUDDINGTON DR',
 '250 KING ST E',
 '131 TORRESDALE AVE',
 '25 BROADOAKS DR',
 '4675 STEELES AVE E',
 '4675 STEELES AVE E',
 '4675 STEELES AVE E',
 '13 IRWIN AVE',
 '292 GRANDRAVINE DR',
 '292 GRANDRAVINE DR',
 '199 DALLIMORE CRCL',
 '80 NORMANDY BLVD',
 '11 RUDDINGTON DR',
 '131 TORRESDALE AVE',
 '4675 STEELES AVE E',
 '97 SUFI CRES',
 '13 IRWIN AVE',
 '80 NORMANDY BLVD',
 '17 RUDDINGTON DR',
 '17 RUDDINGTON DR',
 '115 HARLANDALE AVE',
 '4675 STEELES AVE E',
 '4675 STEELES AVE E',
 '4675 STEELES AVE E',
 '97 SUFI CRES',
 '311 GRANDRAVINE DR',
 '176 DALLIMORE CRCL',
 '1 BEECH AVE',
 '17 RUDDINGTON DR',
 '131 TORRESDALE AVE',
 '115 HARLANDALE AVE',
 '505 GLENGARRY AVE',
 '4675 STEELES AVE E',
 '4675 STEELES AVE E',
 '110 SUFI CRES',
 '311 GRANDRAVINE DR',
 '120 DALLIMORE CRCL',
 '99 HOGARTH AVE',
 '120 NORMANDY BLVD',
 '17 RUDDINGTON DR',
 '17 RUDDINGTON DR',
 '115 HARLANDALE AVE',
 '509 GLENGARRY AVE',
 '4675 STEELES AVE E',
 '4675 STEELES AVE E',
 '4675 STEELES AVE E',
 '505 GLENGARRY AVE',
 '311 GRANDRAVINE DR',
 '120 DALLIMORE CRCL',
 '99 HOGARTH AVE',
 '99 HOGARTH AVE',
 '905 QUEEN ST W',
 '4675 STEELES AVE E',
 '4675 STEELES AVE E',
 '355 GRANDRAVINE DR',
 '8 GODSTONE RD',
 '4675 STEELES AVE E',
 '4675 STEELES AVE E',
 '97 HOGARTH AVE',
 '97 BEECH AVE',
 '320 PARLIAMENT ST',
 '61 ELMHURST AVE',
 '100 DERRYDOWN RD',
 '879 QUEEN ST W',
 '4675 STEELES AVE E',
 '4675 STEELES AVE E',
 '365 GRANDRAVINE DR',
 '70 DAVID DUNLAP CRCL',
 '97 HOGARTH AVE',
 '97 BEECH AVE',
 '99 FAIRMOUNT CRES',
 '51 TOLLERTON AVE',
 '332 PARLIAMENT ST',
 '55 ELMHURST AVE',
 '4675 STEELES AVE E',
 '4675 STEELES AVE E',
 '365 GRANDRAVINE DR',
 '97 HOGARTH AVE',
 '104 BEECH AVE',
 '29 FAIRMOUNT CRES',
 '4675 STEELES AVE E',
 '4675 STEELES AVE E',
 '206 DAVID DUNLAP CRCL',
 '60 RUDDINGTON DR',
 '4675 STEELES AVE E',
 '4675 STEELES AVE E',
 'CHICOUTIMI AVE',
 '167 DAVID DUNLAP CRCL',
 '142 BEECH AVE',
 '4675 STEELES AVE E',
 '4675 STEELES AVE E',
 '7 ROCHEFORT DR',
 '167 DAVID DUNLAP CRCL',
 '29 BELLHAVEN RD',
 '91 BURNDALE AVE',
 '4675 STEELES AVE E',
 '4675 STEELES AVE E',
 '7 ROCHEFORT DR',
 'FRITH RD',
 '161 DAVID DUNLAP CRCL',
 '170 BEECH AVE',
 '91 BURNDALE AVE',
 '4675 STEELES AVE E',
 '4675 STEELES AVE E',
 '4675 STEELES AVE E',
 '4675 STEELES AVE E',
 '11 ROCHEFORT DR',
 'FRITH RD',
 '193 BEECH AVE',
 '4675 STEELES AVE E',
 '11 ROCHEFORT DR',
 'FRITH RD',
 '120 DUNDALK DR',
 '30 NORCROSS RD',
 '69 BURNETT AVE',
 '4675 STEELES AVE E',
 '4675 STEELES AVE E',
 '4675 STEELES AVE E',
 '24 FERRAND DR',
 '700 HUMBERWOOD BLVD',
 '310 NISKA RD',
 '28 NORCROSS RD',
 '66 BURNETT AVE',
 '310 NISKA RD',
 'BEECH AVE',
 '120 DUNDALK DR',
 '88 HIGHCROFT RD',
 '4675 STEELES AVE E',
 '55 FERRAND DR',
 '33 SINGER CRT',
 '310 NISKA RD',
 '700 HUMBERWOOD BLVD',
 '120 DUNDALK DR',
 '33 SINGER CRT',
 '50 ROCHEFORT DR',
 '310 NISKA RD',
 '11 HUMPHREY GT',
 '33 SINGER CRT',
 '50 ROCHEFORT DR',
 '310 NISKA RD',
 '310 NISKA RD',
 '6 UNDERHILL DR',
 '304 KINGSWOOD RD',
 '700 HUMBERWOOD BLVD',
 '120 DUNDALK DR',
 '33 SINGER CRT',
 '152 ALMORE AVE',
 '50 ROCHEFORT DR',
 '310 NISKA RD',
 '10 ROANOKE RD',
 '700 HUMBERWOOD BLVD',
 '75 PROVOST DR',
 '152 ALMORE AVE',
 '193 SHAW ST',
 '50 ROCHEFORT DR',
 '310 NISKA RD',
 '10 ROANOKE RD',
 '700 HUMBERWOOD BLVD',
 '87 GAINSBOROUGH RD',
 '43 FREELAND ST',
 '39 NIAGARA ST',
 '21 POTSDAM RD',
 '310 NISKA RD',
 '10 ROANOKE RD',
 '10 ROANOKE RD',
 '426 KINGSWOOD RD',
 '700 HUMBERWOOD BLVD',
 '700 HUMBERWOOD BLVD',
 '39 NIAGARA ST',
 '21 POTSDAM RD',
 '82 MAITLAND ST',
 'JOHN ST',
 '60 HEMLOCK AVE',
 '128 CLANTON PARK RD',
 '43 FREELAND ST',
 '21 POTSDAM RD',
 '700 HUMBERWOOD BLVD',
 '10 ROANOKE RD',
 '201 CARLAW AVE',
 'DENGATE RD',
 nan,
 '19 PROVINCETOWN RD',
 '126 CLANTON PARK RD',
 'CARIBOU RD',
 '10 ROANOKE RD',
 '201 CARLAW AVE',
 '2 COOPER ST',
 '21 POTSDAM RD',
 '10 ROANOKE RD',
 '10 ROANOKE RD',
 '28 PHILPOTT GDNS',
 '66 EDGEWOOD AVE',
 '70 EDGEWOOD AVE',
 '2 COOPER ST',
 'ROANOKE RD',
 '10 ROANOKE RD',
 'OTTER CRES',
 '10 ROANOKE RD',
 '10 ROANOKE RD',
 '235 CARLAW AVE',
 '235 CARLAW AVE',
 '7 GLENBURN AVE',
 '90 EDGEWOOD AVE',
 '69 OTTER CRES',
 '1375 DUNDAS ST W',
 '27 BROCKVILLE ST',
 '122 EDGEWOOD AVE',
 '35 TOBERMORY DR',
 '69 OTTER CRES',
 '700 HUMBERWOOD BLVD',
 '30 CHARLES ST E',
 '425 KING ST W',
 '35 TOBERMORY DR',
 '30 CHARLES ST E',
 '103 WEST LODGE AVE',
 '8 SHOALHAVEN DR',
 '8 SHOALHAVEN DR',
 '73 AUGUSTA AVE',
 '30 CHARLES ST E',
 '33 FLAGMAN ST',
 '8 SHOALHAVEN DR',
 '8 SHOALHAVEN DR',
 '45 GRENOBLE DR',
 '30 CHARLES ST E',
 '30 CHARLES ST E',
 '88 COLGATE AVE',
 '1979 DUNDAS ST E',
 '30 CHARLES ST E',
 '88 COLGATE AVE',
 '5 VICORA LINKWAY',
 'DRIFTWOOD AVE',
 '30 CHARLES ST E',
 '17 WHITEFRIARS DR',
 '41 LARK ST',
 'DRIFTWOOD AVE',
 '19 WHITEFRIARS DR',
 '19 WHITEFRIARS DR',
 '335 DRIFTWOOD AVE',
 '85 PALM DR',
 '335 DRIFTWOOD AVE',
 '23 WHITEFRIARS DR',
 '1 CARR ST',
 '335 DRIFTWOOD AVE',
 '335 DRIFTWOOD AVE',
 '23 WHITEFRIARS DR',
 '335 DRIFTWOOD AVE',
 '25 BLYTH HILL RD',
 '325 GRANDRAVINE DR',
 '23 WHITEFRIARS DR',
 '1 OSBORNE AVE',
 '3 OSBORNE AVE',
 '90 RAINSFORD RD',
 '1 CARR ST',
 '335 DRIFTWOOD AVE',
 '43 BLYTH HILL RD',
 '27 WHITEFRIARS DR',
 '43 BLYTH HILL RD',
 '57 CARR ST',
 '347 DRIFTWOOD AVE',
 '57 CARR ST',
 '347 DRIFTWOOD AVE',
 '34 CELT AVE',
 '2 BLYTH DALE RD',
 '34 CELT AVE',
 '57 CARR ST',
 '22 WELSFORD GDNS',
 '65 OSBORNE AVE',
 '11 BATTENBERG AVE',
 '27 LONDON GREEN CRT',
 '22 WELSFORD GDNS',
 '22 WELSFORD GDNS',
 '27 LONDON GREEN CRT',
 '14 STRATHALLAN BLVD',
 '27 LONDON GREEN CRT',
 '14 WELSFORD GDNS',
 '11 LEONARD AVE',
 '23 LONDON GREEN CRT',
 '2 MEADOWGLEN PL',
 '55 CHISHOLM AVE',
 '40 FOUNTAINHEAD RD',
 '282 DAWLISH AVE',
 '19 LONDON GREEN CRT',
 '105 ROWENA DR',
 '97 PARKMOUNT RD',
 '40 FOUNTAINHEAD RD',
 '40 FOUNTAINHEAD RD',
 '19 LONDON GREEN CRT',
 '45 BENLAMOND AVE',
 '2 MEADOWGLEN PL',
 '40 FOUNTAINHEAD RD',
 '35 FOUNTAINHEAD RD',
 ...]

In [21]:

parking_id = []
address = []
rate = []
with open("Resources/greenPParking2015.json") as json_file:  
    data = json.load(json_file)
    for p in data['carparks']:
        parking_id.append(p["id"])
        address.append(p["address"])
        rate.append(p["rate"])
parking_df=pd.DataFrame({"parking_id":parking_id,
                        "address":address,
                        "rate":rate})
#parking_df["address"].value_counts()

In [22]:
#store addresses in python list 
address_list_complete = list(parking_df["address"])

In [23]:
#Upper Case Addresses
address_list_complete = [address.upper() for address in address_list_complete]
address_list_complete

['20 CHARLES STREET',
 '13 ISABELLA STREET',
 '15 WELLESLEY STREET EAST',
 '21 PLEASANT BLVD.',
 '30 ALVIN AVENUE',
 '20 DELISLE AVENUE',
 '37 YORKVILLE AVENUE',
 '670 PAPE AVENUE',
 '351 KEELE STREET',
 '385 PACIFIC AVENUE',
 '101 CEDARVALE AVENUE',
 '72 AMROTH AVENUE',
 '37 QUEEN STREET EAST',
 '716 PAPE AVENUE',
 '75 HOLLY STREET',
 '45 BAY STREET',
 '25 DUNDAS STREET EAST',
 '110 QUEEN STREET WEST (NATHAN PHILLIPS SQUARE GARAGE)',
 '20 CASTLEFIELD AVENUE',
 '7 NORTON AVENUE',
 '91 VIA ITALIA',
 '2 CHURCH STREET (ST. LAWRENCE GARAGE)',
 '14 FULLER AVENUE',
 '111 BROADVIEW AVENUE',
 '125 BURNABY BLVD.',
 '85 LEE AVENUE',
 '365 LIPPINCOTT STREET',
 '40 YORK STREET',
 '803 RICHMOND STREET WEST',
 '23 BEDFORD PARK AVENUE WEST',
 '9 BEDFORD ROAD (HOTEL INTERCONTINENTAL)',
 '1119 QUEEN STREET WEST',
 '265 DURIE STREET',
 '20 ST. ANDREW STREET (KENSINGTON GARAGE)',
 '35 BELLEVUE AVENUE',
 '35 ERINDALE AVENUE',
 '405 SHERBOURNE STREET',
 '400 KEELE STREET',
 '695 LANSDOWNE AVENUE',
 '92 MARGUERETTA AVENUE',
 '9 SALEM AVENUE',
 '557 PALMERSTON AVENUE',
 '14 ARUNDEL AVENUE',
 '25 FERRIER AVENUE',
 '20 EATON AVENUE',
 '17 EATON AVENUE',
 '265 ARMADALE AVENUE',
 '675 MANNING AVENUE',
 '745 OSSINGTON AVENUE, 16 CARLING AVENUE',
 '15 DENISON AVENUE',
 '251 MACPHERSON AVENUE',
 '51 ABERDEEN AVENUE',
 '1612 DANFORTH AVENUE',
 '74 CLINTON STREET',
 '255 KENNEDY AVENUE',
 '323 RICHMOND STREET EAST',
 '7 BARTLETT AVENUE',
 '912 EGLINTON AVENUE WEST',
 '77 GOUGH AVENUE',
 '6 SHERWOOD AVENUE',
 '141 GREENLAW AVENUE',
 '31 LANGFORD AVENUE',
 '265 WILLARD AVENUE',
 '376 CLINTON STREET',
 '573 GERRARD STREET EAST',
 '12 WOODYCREST AVENUE',
 '25 GLENFOREST ROAD',
 '995 EGLINTON AVENUE WEST',
 '18 FERRIER AVENUE',
 '709 MILLWOOD ROAD',
 '1325 QUEEN STREET WEST',
 '30 ST. CLAIR AVENUE WEST',
 '453 SPADINA ROAD',
 '18 OSSINGTON AVENUE',
 '146 HARRISON STREET',
 '17 HAMMERSMITH AVENUE',
 '730 MT. PLEASANT ROAD',
 '737 RHODES AVENUE',
 '151 HIAWATHA ROAD',
 '650 MT. PLEASANT ROAD',
 '653 GERRARD STREET EAST',
 '268 RHODES AVE',
 '1155 KING STREET WEST',
 '192 BOARDWALK DR',
 '116 JOSEPH DUGGAN RD',
 '118 SARAH ASHBRIDGE AVE',
 '157 BEATRICE STREET',
 '1117 DUNDAS STREET WEST',
 '465 HURON STREET',
 '10 KINGSDALE AVENUE',
 '246 BROOKE AVENUE',
 '800 FLEET STREET',
 '10 EMPRESS AVENUE',
 '10 HARLANDALE AVENUE',
 '95 BEECROFT ROAD',
 '180 BEECROFT ROAD',
 '1880 AVENUE ROAD',
 '11 FINCH WEST',
 '4576 YONGE STREET',
 '68 SHEPPARD AVENUE WEST',
 '7 JACKSON AVENUE',
 '11 GRENVIEW BLVD. N.',
 '342 PRINCE EDWARD DRIVE',
 '12 WILLINGDON BLVD.',
 '9 WILLINGDON BLVD.',
 '934 ROYAL YORK ROAD',
 '140 FIFTH STREET',
 '66 THIRD STREET',
 '128 EIGHTH STREET',
 '3239 LAKESHORE BLVD W.',
 '120 SIXTH STREET',
 '3220 BLOOR STREET WEST',
 '575 ROYAL YORK ROAD',
 '15 PRIMROSE AVENUE',
 '5 DAYTON AVENUE',
 '20 ROYALAVON CRESCENT',
 '550 MORTIMER AVENUE',
 '22 JOHN STREET',
 '301 SCOTT ROAD',
 '17 RIVERVIEW GARDENS',
 '16 RIVERVIEW GARDENS',
 '271A SCARLETT ROAD',
 '2054 DUFFERIN STREET',
 '406 OAKWOOD AVENUE',
 '433 ROGERS ROAD',
 '1 SHORTT STREET',
 '1607 EGLINTON AVENUE WEST',
 '101 GRANGEWAY AVENUE',
 '197 BLANTYRE AVENUE',
 '40 LARCH STREET',
 '7 MONKTON AVENUE',
 '3885 YONGE STREET',
 '1169 WESTON ROAD',
 '1167 EASTERN AVENUE',
 '1141 EASTERN AVENUE',
 '74 YORKVILLE AVENUE',
 '10 PORTLAND STREET',
 '205 MCCAUL STREET',
 '363 ADELAIDE STREET WEST',
 '284 MILNER AVENUE',
 '711 LAKESHORE BLVD W',
 '15 PRICE ST',
 '1531 EGLINTON AVENUE WEST',
 '3354 DUNDAS STREET WEST',
 '87 RICHMOND STREET EAST',
 '1530 MARKHAM ROAD',
 '121 ST. PATRICK STREET',
 '789 ST. CLAIR AVENUE WEST',
 '1501 YONGE STREET',
 '2700 EGLINTON AVENUE WEST',
 '2700 EGLINTON AVENUE WEST',
 '1 COLONEL SAMUEL SMITH PARK DRIVE',
 '65 COLONEL SAMUEL SMITH PARK',
 '1503 BAYVIEW AVENUE',
 '34 HANNA AVENUE',
 '80 CLINTON STREET',
 '646 ST. CLAIR AVENUE WEST',
 '105 SPADINA AVENUE',
 '11 KENWOOD AVENUE',
 '110 DOVERCOURT ROAD',
 '55 MILL STREET',
 '19 SPADINA ROAD',
 '44 PARLIAMENT STREET',
 '2201 DUNDAS STREET WEST',
 '166 WOODBINE AVE',
 '116 WINNERS CIRCLE',
 '100 GRANGEWAY AVENUE',
 '5667 YONGE STREET',
 '1675 LAKESHORE BLVD. E. (PARKS)',
 '20 ASHBRIDGES BAY PARK (PARKS)',
 '2001 LAKESHORE BLVD. WEST (PARKS)',
 '2001 LAKESHORE BLVD. WEST (PARKS)',
 '1575 LAKESHORE BLVD. W. (PARKS)',
 '1095 LAKESHORE BLVD. W. (PARKS)',
 '2235 LAKESHORE BLVD WEST (PARKS)',
 '2235 LAKESHORE BLVD WEST (PARKS)',
 '2235 LAKESHORE BLVD WEST (PARKS)',
 '2235 LAKESHORE BLVD WEST (PARKS)',
 '2235 LAKESHORE BLVD WEST (PARKS)',
 '2235 LAKESHORE BLVD WEST (PARKS)',
 "1 BRIMLEY ROAD (BLUFFER'S PARK)",
 "1 BRIMLEY ROAD (BLUFFER'S PARK)",
 "1 BRIMLEY ROAD (BLUFFER'S PARK)",
 '9 MADISON AVE.',
 '333 EGLINTON AVENUE WEST',
 '700 ST. CLAIR AVE',
 '2053 DUFFERIN STREET',
 '1940 LAWRENCE AVENUE EAST',
 '341 OAKWOOD AVENUE',
 '9 BONAR PLACE',
 '1439 DANFORTH AVENUE',
 'TTC COMMUTER LOT - KIPLING NORTH LOT - 120 SUBWAY CRES',
 'TTC COMMUTER LOT - KIPLING SOUTH LOT - 400 MUNSTER AVENUE',
 'TTC COMMUTER LOT - ISLINGTON MAIN LOT - 3330 BLOOR STREET WEST',
 'TTC COMMUTER LOT - ISLINGTON CORDOVA LOT - 70 CORDOVA AVENUE',
 'TTC COMMUTER LOT - ISLINGTON LOMOND LOT - 20 LOMOND DRIVE',
 'TTC COMMUTER LOT - KEELE LOT - 400 INDIAN ROAD',
 'TTC COMMUTER LOT - WILSON WEST LOT - 75 BILLY BISHOP WAY',
 'TTC COMMUTER LOT - WILSON SOUTH LOT - 30 TIPPETT ROAD',
 'TTC COMMUTER LOT - WILSON MAIN LOT - 50 WILSON HEIGHTS BLVD',
 'TTC COMMUTER LOT - YORK MILLS LOT - 4050 YONGE STREET',
 'TTC COMMUTER LOT - FINCH WEST LOT - 18 HENDON AVE',
 'TTC COMMUTER LOT - FINCH EAST LOT - 814 WILLOWDALE AVE',
 'TTC COMMUTER LOT - LESLIE LOT - 2760 OLD LESLIE STREET',
 'TTC COMMUTER LOT - ELLESMERE LOT - NEAR 1050 ELLESMERE AVE',
 'TTC COMMUTER LOT - LAWRENCE EAST LOT - NEAR 2450 LAWRENCE AVE EAST',
 'TTC COMMUTER LOT - KENNEDY NORTH LOT - NEAR 2445 EGLINTON AVENUE EAST',
 'TTC COMMUTER LOT - KENNEDY EAST LOT - NEAR 2467 EGLINTON AVE EAST',
 'TTC COMMUTER LOT - KENNEDY SOUTH LOT -155 TRANSWAY CRES',
 'TTC COMMUTER LOT - WARDEN NORTH LOT - 705 WARDEN AVE',
 'TTC COMMUTER LOT - WARDEN SOUTH LOT - 701 WARDEN AVE',
 'TTC COMMUTER LOT - VICTORIA MAIN LOT - 777 VICTORIA PARK AVENUE',
 'TTC COMMUTER LOT - DON MILLS LOT - 1800 SHEPPARD AVE EAST',
 'TTC COMMUTER LOT - SUBWAY CRESCENT LOT - 95 SUBWAY CRES',
 'TTC COMMUTER LOT - KENNEDY NORTH SERVICE ROAD - 2450 EGLINTON AVE EAST',
 'TTC COMMUTER LOT - DOWNSVIEW LOT - 415 WILLIAM R ALLEN RD',
 '130 ELIZABETH STREET - TORONTO COACH TERMINAL',
 'TTC COMMUTER LOT - TRANSIT ROAD LOT - 25 TRANSIT RD',
 '1670 BAYVIEW AVE',
 '31 BLACKTHORNE AVE.',
 '115 UNWIN AVENUE',
 '1695 DUFFERIN STREET',
 '20 PRESCOTT AVENUE',
 '201 CLAREMONT STREET',
 'TTC COMMUTER LOT - ISLINGTON FIELDWAY LOT - 22 FIELDWAY RD',
 '14 BARKWIN DR.',
 '4 SPADINA ROAD',
 '180 SPADINA AVENUE',
 '302 QUEEN STREET WEST',
 '136 BROADVIEW AVENUE',
 '250 FORT YORK BOULEVARD',
 '250 FORT YORK BOULEVARD',
 '271 FRONT STREET EAST',
 '70 DISTILLERY LANE',
 '1010 YONGE ST.',
 '775 KING STREET WEST',
 '15 MARINE PARADE DRIVE',
 '20 ERSKINE AVENUE',
 '158 BOROUGH DRIVE']

In [24]:
#Removing dots from address
no_dot_address = []
for address in address_list_complete:
    dummy = ""
    for char in address:
        if char!=".":
            dummy=dummy+char
    no_dot_address.append(dummy) 
address_list_complete = no_dot_address
len(address_list_complete)

239

In [25]:
#Filter through list and save items as seperate lists 
street="STREET"
#blvd_dot="BLVD."

blvd="BLVD"
avenue="AVENUE"
road="ROAD"
dr = " DR"
#dr_dot = "DR."
#ave_dot="AVE."
circle="CIRCLE"
lane=" LANE"
drive=" DRIVE"
commuter_lot = "COMMUTER LOT"
east = "EAST"
west = "WEST"

#street_address = [address for address in address_list if street in address and commuter_lot not in address]
#blvd_dot_address = [address for address in address_list if blvd_dot in address and commuter_lot not in address]
#blvd_address = [address for address in address_list if blvd in address and commuter_lot not in address]
#avenues_address = [address for address in address_list if avenue in address and commuter_lot not in address]
#road_address =[address for address in address_list if road in address and commuter_lot not in address]
#dr_address = [address for address in address_list if dr in address and commuter_lot not in address]
#dr_dot_address = [address for address in address_list if blvd_dot in address and commuter_lot not in address]
#ave_dot_address = [address for address in address_list if ave_dot in address and commuter_lot not in address]
#circle_address = [address for address in address_list if circle in address and commuter_lot not in address]
#lane_address = [address for address in address_list if lane in address and commuter_lot not in address]
#drive_address = [address for address in address_list if drive in address and commuter_lot not in address]
#commuter_lot_address = [address for address in address_list if commuter_lot in address]
#length = len(street_address)+len(blvd_address)+len(avenues_address)+\
#        len(road_address)+len(dr_address)+len(circle_address)+len(lane_address)+\
#        len(drive_address)+len(commuter_lot_address)
#print(length)
#print(len(address_list))

In [26]:
#Clean up addresses to same formatting (All Upper Case, using proper shorthand callings)
streets = []

for address in address_list_complete:
    split_address = address.split()
    #print(split_address)
    dumy=""
    for word in split_address:
            
        if word == east:
            word = "E"
            dumy = dumy+ " " + word
        elif word == west:
            word = "W"
            dumy=dumy+ " " + word
        elif word == street:
            #print("street")
            word = "ST"
            dumy = dumy + " "+ word
        elif word == blvd:
            word = "BLVD"
            dumy=dumy +" " + word
        elif word == avenue:
            word = "AVE"
            dumy=dumy +" " + word
        elif word == road:
            word = "RD"
            dumy=dumy +" " + word
        elif word == dr:
            word = "DR"
            dumy=dumy +" " + word
        elif word == circle:
            word = "CRCL"
            dumy=dumy +" " + word
        elif word == lane:
            word = "LANE"
            dumy=dumy +" " + word
        elif word == drive:
            word = "DRIVE"
            dumy=dumy +" " + word
        elif dumy == "":
            dumy = word
        else:
            dumy = dumy +" " + word
    streets.append(dumy)

address_list_complete = streets
len(address_list_complete)

239

In [27]:
#This Cell just to check if there any common addresses
common_address_locations = []
common_address_address_list = []
for address in address_list_complete:
    for location in locations:
        if str(location) in address and str(location) not in common_address_locations:
            common_address_locations.append(location)
            common_address_address_list.append(address)

In [16]:
#We found 644 common entries
print(len(common_address_locations))
print(len(common_address_address_list))

644
644

In [38]:
#print(common_address_locations)

In [39]:
#print(common_address_address_list)

In [29]:
#create location2 column in parking_df using the cleaned up address list
parking_df["location2"] = address_list_complete
#parking_df.drop(labels = "Clean Address",axis=1,inplace=True)

In [30]:
parking_df.head()

  parking_id                   address               rate          location2
0          1         20 Charles Street  $2.00 / Half Hour      20 CHARLES ST
1          3        13 Isabella Street  $2.25 / Half Hour     13 ISABELLA ST
2          5  15 Wellesley Street East  $2.00 / Half Hour  15 WELLESLEY ST E
3         11         21 Pleasant Blvd.  $1.75 / Half Hour   21 PLEASANT BLVD
4         12           30 Alvin Avenue  $2.50 / Half Hour       30 ALVIN AVE

In [31]:
#Merge the parking_df and tickets_2015_df on column labeled location2

merged_df = pd.merge(parking_df,tickets_2015_df,on="location2")
merged_df.dtypes

parking_id                 object
address                    object
rate                       object
location2                  object
tag_number_masked          object
date_of_infraction          int64
infraction_code             int64
infraction_description     object
set_fine_amount             int64
time_of_infraction        float64
location1                  object
location3                  object
location4                  object
province                   object
dtype: object

In [56]:
#Take only the columns we want to display and store them in merged_df
merged_df = merged_df[["parking_id","rate","location2","infraction_description","set_fine_amount"]]
len(merged_df)

16394

In [65]:
#Rename the Dataframe index as 'id' as to match the primary key of the SQL database
#A list was created using numpy, and then inserted into the Dataframe as the index
index = np.arange(0,len(merged_df))
merged_df["id"] = index
merged_df.set_index("id",inplace=True)
merged_df.rename(columns = {"location2":"clean_address"},inplace=True)
merged_df.dtypes

parking_id                object
rate                      object
clean_address             object
infraction_description    object
set_fine_amount            int64
dtype: object

In [61]:
#Create SQL connection
rds_connection_string = "root:root123@127.0.0.1:3306/parking_db"
engine = create_engine(f'mysql://{rds_connection_string}')

In [62]:
#Check for table
engine.table_names()

['parking_tickets']

In [66]:
#Export to SQL. If table already exists, data will be appended
merged_df.to_sql(name='parking_tickets', con=engine, if_exists='append', index=True)